
@font-face {
  font-family: 'Nunito';
  src: url("@/assets/fonts/Nunito-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
